<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- body defining macro -->
  <xacro:macro name="body" params="props_path">

    <xacro:property name="yaml_file" value="${props_path}"  />
    <xacro:property name="props" value="${load_yaml(yaml_file)}" />

    <link name="${props['body']['name']}">
      <visual>
        <geometry>
          <xacro:property name="mesh_file" value="${props['body']['link']['mesh_file']}" />
          <xacro:if value="${mesh_file == 'None'}">
            <box size="${props['body']['link']['length']}
                       ${props['body']['link']['width']}
                       ${props['body']['link']['thickness']}" />
          </xacro:if>
          <xacro:if value="${mesh_file != 'None'}">
            <mesh filename="${mesh_file}" scale="1 1 1" />
          </xacro:if>
          <!-- <material name="${props['body']['link']['material']}"/> -->
        </geometry>
        <origin xyz="${props['body']['link']['origin'][0]}
                     ${props['body']['link']['origin'][1]}
                     ${props['body']['link']['origin'][2]}"
                rpy="${props['body']['link']['rpy'][0]}
                     ${props['body']['link']['rpy'][1]}
                     ${props['body']['link']['rpy'][2]}"/>
      </visual>

      <collision>
        <geometry>
          <box size="${props['body']['link']['length']}
                     ${props['body']['link']['width']}
                     ${props['body']['link']['thickness']}" />
        </geometry>
      </collision>

      <inertial>
        <mass value="${props['body']['inertial']['mass']}" />
        <inertia ixx="${props['body']['inertial']['inertia']['ixx']}"
                 ixy="${props['body']['inertial']['inertia']['ixy']}"
                 ixz="${props['body']['inertial']['inertia']['ixz']}"
                 iyy="${props['body']['inertial']['inertia']['iyy']}"
                 iyz="${props['body']['inertial']['inertia']['iyz']}"
                 izz="${props['body']['inertial']['inertia']['izz']}" />
         <origin xyz="${props['body']['inertial']['origin'][0]}
                      ${props['body']['inertial']['origin'][1]}
                      ${props['body']['inertial']['origin'][2]}"
                 rpy="0 0 0" />
      </inertial>
    </link>
  </xacro:macro>

</robot>
