<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- body defining macro -->
  <xacro:macro name="body" params="props_path use_package_relative">

    <xacro:property name="yaml_file" value="${props_path}"  />
    <xacro:property name="props" value="${load_yaml(yaml_file)}" />

    <link name="${props['body']['name']}">
      <visual>
        <geometry>
        <xacro:property name="mesh_file" value="${props['body']['link']['mesh_file']}" />
        <xacro:if value="${mesh_file == 'None'}">
          <box size="${props['body']['link']['length']}
                     ${props['body']['link']['width']}
                     ${props['body']['link']['thickness']}" />
        </xacro:if>
        <xacro:unless value="${mesh_file == 'None'}">
          <xacro:if value="${use_package_relative}">
            <mesh filename="package://${props['package']['name']}/${props['package']['meshes_path']}/${mesh_file}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_package_relative}">
            <mesh filename="${mesh_file}" scale="1 1 1" />
          </xacro:unless>
        </xacro:unless>

        </geometry>
        <origin xyz="0 0 0" />
      </visual>

      <collision>
        <geometry>
          <box size="${props['body']['link']['length']}
                     ${props['body']['link']['width']}
                     ${props['body']['link']['thickness']}" />
        </geometry>
      </collision>

      <inertial>
        <mass value="${props['body']['inertia']['mass']}" />
        <inertia ixx="${props['body']['inertia']['inertia']['ixx']}"
                 ixy="${props['body']['inertia']['inertia']['ixy']}"
                 ixz="${props['body']['inertia']['inertia']['ixz']}"
                 iyy="${props['body']['inertia']['inertia']['iyy']}"
                 iyz="${props['body']['inertia']['inertia']['iyz']}"
                 izz="${props['body']['inertia']['inertia']['izz']}" />
      </inertial>
    </link>
  </xacro:macro>

</robot>
