<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- body defining macro -->
  <xacro:macro name="body" params="props_path">

    <xacro:property name="yaml_file" value="${props_path}"  />
    <xacro:property name="props" value="${load_yaml(yaml_file)}" />

    <link name="${props['body']['name']}">
      <visual>
        <geometry>
          <box size="${props['body']['length']} ${props['body']['width']} ${props['body']['thickness']}" />
        </geometry>
        <origin xyz="0 0 0" />
      </visual>

      <collision>
        <geometry>
          <box size="${props['body']['length']} ${props['body']['width']} ${props['body']['thickness']}" />
        </geometry>
      </collision>

      <inertial>
        <mass value="${props['body']['mass']}" />
        <inertia ixx="${props['body']['inertia']['ixx']}"
                 ixy="${props['body']['inertia']['ixy']}"
                 ixz="${props['body']['inertia']['ixz']}"
                 iyy="${props['body']['inertia']['iyy']}"
                 iyz="${props['body']['inertia']['iyz']}"
                 izz="${props['body']['inertia']['izz']}" />
      </inertial>
    </link>
  </xacro:macro>

</robot>
