<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Body parameterss -->
  <xacro:property name="body_width" value="0.15"/>
  <xacro:property name="body_len" value="0.3"/>
  <xacro:property name="body_thickness" value="0.08"/>
  <xacro:property name="body_color" value="black"/>

  <xacro:property name="body_mass" value="10"/>
  <xacro:property name="body_ixx" value="0.2"/>
  <xacro:property name="body_ixy" value="0.2"/>
  <xacro:property name="body_ixz" value="0.2"/>
  <xacro:property name="body_iyy" value="0.2"/>
  <xacro:property name="body_iyz" value="0.2"/>
  <xacro:property name="body_izz" value="0.2"/>

  <!-- Actuator parameters -->
  <xacro:property name="servo_vel" value="0.2"/>
  <xacro:property name="servo_effort" value="0.2"/>

  <!-- link 1 parameters -->
  <xacro:property name="coax_len" value="0.01"/>
  <xacro:property name="coax_radius" value="0.025"/>

  <xacro:property name="coax_mass" value="0.2"/>
  <xacro:property name="coax_ixx" value="0.2"/>
  <xacro:property name="coax_ixy" value="0.2"/>
  <xacro:property name="coax_ixz" value="0.2"/>
  <xacro:property name="coax_iyy" value="0.2"/>
  <xacro:property name="coax_iyz" value="0.2"/>
  <xacro:property name="coax_izz" value="0.2"/>

  <xacro:property name="coax_joint_lower_limit" value="${radians(-45)}"/>
  <xacro:property name="coax_joint_upper_limit" value="${radians(+45)}"/>

  <xacro:property name="coax_to_femur_origin" value="0 0 ${-coax_len}"/>


  <!-- link 2 parameters -->
  <xacro:property name="femur_len" value="0.15"/>
  <xacro:property name="femur_radius" value="0.025"/>

  <xacro:property name="femur_mass" value="0.2"/>
  <xacro:property name="femur_ixx" value="0.2"/>
  <xacro:property name="femur_ixy" value="0.2"/>
  <xacro:property name="femur_ixz" value="0.2"/>
  <xacro:property name="femur_iyy" value="0.2"/>
  <xacro:property name="femur_iyz" value="0.2"/>
  <xacro:property name="femur_izz" value="0.2"/>

  <xacro:property name="femur_joint_lower_limit" value="${radians(-45)}"/>
  <xacro:property name="femur_joint_upper_limit" value="${radians(+45)}"/>

  <xacro:property name="femur_to_tibia_origin" value="0 0 ${-femur_len}"/>


  <!-- link 3 parameters -->
  <xacro:property name="tibia_len" value="0.15"/>
  <xacro:property name="tibia_radius" value="0.025"/>

  <xacro:property name="tibia_mass" value="0.2"/>
  <xacro:property name="tibia_ixx" value="0.2"/>
  <xacro:property name="tibia_ixy" value="0.2"/>
  <xacro:property name="tibia_ixz" value="0.2"/>
  <xacro:property name="tibia_iyy" value="0.2"/>
  <xacro:property name="tibia_iyz" value="0.2"/>
  <xacro:property name="tibia_izz" value="0.2"/>

  <xacro:property name="tibia_joint_lower_limit" value="${radians(-135)}"/>
  <xacro:property name="tibia_joint_upper_limit" value="${radians(+0)}"/>

</robot>
