<?xml version="1.0" encoding="utf-8"?>
<robot name="hexapod" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="props_path" default="$(cwd)/config/props.yaml" />

  <!-- BODY DECLARATION -->
  <xacro:include filename="$(cwd)/model/body.urdf.xacro" ns="body" />
  <xacro:body.body props_path="$(arg props_path)" />

  <!-- LED DECLARATION -->
  <xacro:include filename="$(cwd)/model/leg.urdf.xacro" ns="leg" />

  <xacro:leg.leg leg_prefix="left_front" reflect="true" leg_pos="front" props_path="$(arg props_path)" />
  <xacro:leg.leg leg_prefix="left_central" reflect="true" leg_pos="central" props_path="$(arg props_path)" />
  <xacro:leg.leg leg_prefix="left_rear" reflect="true" leg_pos="rear" props_path="$(arg props_path)" />

  <xacro:leg.leg leg_prefix="right_front" reflect="false" leg_pos="front" props_path="$(arg props_path)" />
  <xacro:leg.leg leg_prefix="right_central" reflect="false" leg_pos="central" props_path="$(arg props_path)" />
  <xacro:leg.leg leg_prefix="right_rear" reflect="false" leg_pos="rear" props_path="$(arg props_path)" />

</robot>
